.signup-title{
    font-size:20px;
    text-align: center;
    color: lightgrey;
}

.signup-form {
    border-radius: 20px;
    box-shadow: 2px 2px 2px 3px #e0dad0;
    margin-top: 190px;
    padding: 50px 85px 50px 82px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    flex-direction: column;
}